/*VARIABLES & MEDIA QUERIES*/
:root {
  --grid-size: clamp(30vh, 71vmin, 60vh);
  --button-size: 100px;
  --header-width: clamp(45vh, 95vw, 90vh);
}


@media (min-width: 1000px) and (min-height: 1100px) {
  :root {
    --button-size: 150px;
  }

 

  button {
    font-size: 17px;
  }
}

@media (min-width: 900px) and (min-height: 990px) {
  :root {
    --button-size: 130px;
  }



  button {
    font-size: 15px;
  }
}

@media (min-width: 800px) and (min-height: 880px) {
  :root {
    --button-size: 115px;
  }

  

  button {
    font-size: 13px;
  }
}

@media (max-width: 600px) and (max-height: 650px) {
  :root {
    --button-size: 85px;
  }



  button {
    font-size: 12px;
  }
}

@media (max-width: 500px), (max-height: 550px) {
  :root {
    --button-size: 70px;
  }


  button {
    font-size: 11px;
  }
}

@media (max-width: 400px), (max-height: 450px) {
  :root {
    --button-size: 55px;
  }

  

  button {
    font-size: 10px;
  }
}
body {
  background: radial-gradient(pink, pink, palevioletred, blue, cyan, blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

h1 {
  font-size: clamp(15px, 8vw, 30px);
  font-style: italic;
  background: black;
  border-radius: 50%;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  min-width: 50%;
  width: 500px;
  max-width: 100%;
  padding: 10px 3px;
  margin-bottom: 20px;
  box-shadow: 1px 2px 3px 2px pink;
  z-index: 2;
}

header {
  display: flex;
  justify-content: space-between;
  width: var(--header-width);
}

.buttons {
  display: flex;
  gap: clamp(2vh, 3vw, 4vh);
}

button {
  color: gold;
  background: purple;
  width: var(--button-size);
  border-color: pink;
  font-weight: bold;
  padding: 5px 1px;

}

button:hover {
    animation: animation 0.2s ease;
}

button:active {
    transform: translate(-1px, -1px);
}

@keyframes animation {
    0% {
      transform: rotate(0);
    }
    30% {
      transform: rotate(0.03turn);
    }
    60% {
      transform: rotate(-0.03turn);
    }
    90% {
      transform: rotate(0);
    }
  }

.container-grid {
  transform: rotateZ(45deg);
  margin: 30px auto;
  display: grid;
  width: var(--grid-size);
  height: var(--grid-size);
  background: black;
  box-shadow: 0 0 5px 0.5px gold;
}
